body {
  background-color: hsl(226 37% 12% / 1);
  font-size: 1.7rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.3rem;
}

h3 {
  font-size: 2.7rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}

code {
  background-color: hsl(233 28% 24% / 1);
}

.dropcap {
  font-family: serif;
  font-size: 5.8rem;
  float: left;
  margin-right: 0.2rem;
  margin-top: -1.6rem;
  margin-bottom: -2.6rem;
  font-weight: 500;
}

.img-responsive {
  padding: 9px;
  margin: 0 0 10px;
  border: 1px solid #3b3f5c;
  border-radius: 4px;
  max-height: 50rem;
  max-width: 100%;

  /* lighter background for transparent images */
  background-color: #3b3f5c;
  box-shadow: inset -9px -9px 0px 0px rgb(6 8 24),
              inset 9px 9px 0px 0px rgb(6 8 24),
              inset -9px 9px 0px 0px rgb(6 8 24),
              inset 9px -9px 0px 0px rgb(6 8 24);
}

.table>tbody+tbody {
  border-top: none;
}